<!--<div *ngIf="pokemon" class="mb-4 shadow bg-white rounded relative">-->

<!--  <section class="p-4">-->
<!--    <img [src]="pokemon.img" [alt]="pokemon.name" class="block w-72">-->
<!--  </section>-->
<!--  <section class="p-4">-->
<!--    <span class="text-xl">{{pokemon.name | titlecase}}</span>-->
<!--  </section>-->

<!--  <app-favourite-button [pokemonId]="pokemon.id"></app-favourite-button>-->

<!--</div>-->

<div *ngIf="pokemon" class="mb-4 shadow bg-white rounded pb-2">

  <section class="text-center pt-5 pb-2">
    <img [src]="pokemon.img" [alt]="pokemon.name" class="img-fluid">
  </section>
  <section class="text-center mb-5">
    <h4>{{pokemon.name | titlecase}}</h4>
  </section>

  <div class="text-center">
    <app-favourite-button  [pokemonId]="pokemon.id"></app-favourite-button>
  </div>

</div>

<!--<div class="card m-3 mb-md-2" style="width: 18rem;">-->
<!--  <img class="card-img-top" src="..." alt="Card image cap">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">Card title</h5>-->
<!--    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--  </div>-->
<!--</div>-->
