<!--<aside class="absolute top-4 right-4">-->
<!--  &lt;!&ndash;  google ikonhoz cdn html-be, class-hoz ez, tag belsejébe az ikon neve netről&ndash;&gt;-->
<!--  <button-->
<!--    (click)="onFavouriteClick()"-->
<!--    class="border border-slate-300 rounded flex justify-center items-center p-2 text-pink-600">-->

<!--    <ng-container *ngIf="!loading; else spinner">-->
<!--      <ng-container *ngIf="isFavourite; then favourite else notFavourite" class="material-icons"></ng-container>-->

<!--      <ng-template #favourite>-->
<!--        <span class="material-icons">favorite</span>-->
<!--      </ng-template>-->
<!--      <ng-template #notFavourite>-->
<!--        <span class="material-icons">favorite_border</span>-->
<!--      </ng-template>-->
<!--    </ng-container>-->

<!--    <ng-template #spinner>-->
<!--      <span class="material-icons animate-spin">refresh</span>-->
<!--    </ng-template>-->


      <!--  google ikonhoz cdn html-be, class-hoz ez, tag belsejébe az ikon neve netről-->
<!--      <button-->
<!--        (click)="onFavouriteClick()"-->
<!--        class="btn btn-warning">-->

<!--          <ng-container *ngIf="isFavourite; then favourite else notFavourite" class="material-icons"></ng-container>-->

<!--          <ng-template #favourite>-->
<!--            <span>Release</span>-->
<!--          </ng-template>-->
<!--          <ng-template #notFavourite>-->
<!--            <span>Catch</span>-->
<!--          </ng-template>-->

<!--</button>-->

<button *ngIf="!isFavourite" class="btn btn-warning" (click)="onFavouriteClick()">Catch</button>
<button *ngIf="isFavourite" class="btn btn-danger" (click)="onFavouriteClick()">Release</button>




    <!--    így is jó sztem, egyszerűbb-->
    <!--    <span *ngIf="isFavourite" class="material-icons">favorite</span>-->
    <!--    <span *ngIf="!isFavourite" class="material-icons">favorite_border</span>-->



